:root {
  /* Text & accent colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --ltitle-text-color: rgba(0, 0, 0, 0.2);
  --hero-text-color: #ffffff;
  --accent-color: #2196f3;
  --blacktext-color: #000000;
  --whitetext-color: #ffffff;
  --footlogo-span-color: rgba(255, 255, 255, 1);
  --foot-contacts-color: rgba(255, 255, 255, 0.6);
  /* svg-fills & strokes */
  --primary-icon-fill: #afb1b8;
  --footer-icon-bcg-color: rgba(255, 255, 255, 0.1);
  /* Background colors */
  --primary-bckg-color: #ffffff;
  --secondary-bckg-color: #f5f4fa;
  --footer-bckg-color: #2f303a;
  --subimage-box-color: #eeeeee;
  --header-border-color: #ececec;
  --modal-btn-hover-color: #188ce8;
  /* Overlay colors */
  --hero-overlay-color: rgba(47, 48, 58, 0.4);
  --features-overlay-color: rgba(47, 48, 58, 0.8);
  --portfolio-overlay-color: rgba(33, 150, 243, 0.9);

  /* Misc */
  --transform-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--primary-bckg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
}
/* Сброс геометрии элементов по - умолчанию. */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 0;
}
/* Задан, чтобы убрать нижний отступ у картинок */
img {
  display: block;
}
/* ================КЛАССЫ-УТИЛИТЫ================ */
/* Убираеn метки из списков */
.unmarked {
  list-style: none;
}
/* Убирает подчеркивания и курсив из ссылок */
.link {
  color: var(--title-text-color);
  text-decoration: none;
}
/* Подсвечивает текущую страницу */
.current {
  color: var(--accent-color);
  text-decoration: none;
}
/* Скрывает контент */
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* ===================COMPONENTS================== */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}
/* =========HEADER========= */
.page-header {
  border-bottom: 1px solid var(--header-border-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
/* Дополнительный ксасс, задан чтобы
 выстроить все содержимое шапки в ряд */
.main-nav {
  display: flex;
  align-items: center;
}
/* head-logo */
.header-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.headlogo-span {
  color: var(--blacktext-color);
}
/* Site-Nav */
.nav-list {
  display: flex;
  margin-left: 93px;
}
.nav-list > .item:not(:first-child) {
  margin-left: 50px;
}
.nav-list .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--transform-timing-function);
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}
/* Contacts */
.header-contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contacts-list > .item + .item {
  margin-left: 30px;
}
.header-contacts-list .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  transition: color 250ms var(--transform-timing-function);
}

.contact-icon {
  margin-right: 10px;

  fill: var(--primary-text-color);

  transition: fill 250ms var(--transform-timing-function);
}

.header-contacts-list .link:hover .contact-icon,
.header-contacts-list .link:focus .contact-icon {
  fill: var(--accent-color);
}

.header-contacts-list .link:hover,
.header-contacts-list .link:focus {
  color: var(--accent-color);
}
/* ===============MAIN============== */

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--footer-bckg-color);
  background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)),
    url(../images/hero-bcg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  margin: 0;
  margin-bottom: 30px;

  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.modal-open-btn {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  border-radius: 4px;

  color: var(--hero-text-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;

  transition: background-color 250ms var(--transform-timing-function);
}
.modal-open-btn:hover,
.modal-open-btn:focus {
  background-color: var(--modal-btn-hover-color);
}
/* Advantages */
.advantages-title {
  margin-bottom: 10px;
}
.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-bckg-color);
}
.advantages-icon {
  width: 70px;
  height: 70px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.advantages-list > .item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}
.advantages-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages-dscr {
  font-size: 14px;
  line-height: 1.71;
}
/* Features */
.features {
  padding-bottom: 94px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.features-list > .item {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.features-overlay {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: var(--features-overlay-color);
}
.features-overlay-txt {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--whitetext-color);
}
/* Team */
.team {
  background-color: var(--secondary-bckg-color);
  font-size: 16px;
  line-height: 1.17;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  text-align: center;
}
.team-list > .item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.member-content {
  padding: 30px 32px;

  background-color: var(--whitetext-color);
}
.team-member {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
}
.team-dscr {
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list .item {
  width: 44px;
  height: 44px;
}
.social-list .item:not(:first-child) {
  margin-left: 10px;
}
.social-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  fill: var(--primary-icon-fill);
  background-color: var(--whitetext-color);

  transition: fill 250ms var(--transform-timing-function),
    background-color 250ms var(--transform-timing-function);
}
.social-icon {
  width: 20px;
  height: 20px;
}
.social-list .link:focus,
.social-list .link:hover {
  background-color: var(--accent-color);
  fill: var(--whitetext-color);
}
/* Clients */
.clients-list {
  display: flex;
}
.clients-list .item {
  width: 170px;
  height: 92px;
}
.clients-list .item:not(:first-child) {
  margin-left: 30px;
}
.clients-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-icon-fill);
  border-radius: 4px;

  fill: var(--primary-icon-fill);

  transition: fill 250ms var(--transform-timing-function);
}
.clients-list .link:hover,
.clients-list .link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline-color: var(--accent-color);
}

/*==========FOOTER========*/
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bckg-color);
  font-style: inherit;
}
.page-footer .container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--accent-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footlogo-span {
  color: var(--footlogo-span-color);
}
.contacts {
  font-style: inherit;
}
.footer-contacts-list .item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts-list .link {
  color: var(--foot-contacts-color);

  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms var(--transform-timing-function);
}
.footer-contacts-list .link:hover,
.footer-contacts-list .link:focus {
  color: var(--accent-color);
}
/* Ссылка на карту визуально отличается от остального списка ссылок,
 поэтому font-style: normal; и text-decoration: none; -принудительно */
.map-link {
  color: var(--whitetext-color);

  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.join-us-block {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.join-us-title {
  margin-bottom: 20px;

  color: var(--whitetext-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.join-us-list {
  display: flex;
}
.join-us-list .item {
  width: 44px;
  height: 44px;
}
.join-us-list .item:not(:first-child) {
  margin-left: 10px;
}
.join-us-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  fill: var(--whitetext-color);
  background-color: var(--footer-icon-bcg-color);

  transition: background-color 250ms var(--transform-timing-function);
}
.join-us-list .link:hover,
.join-us-list .link:focus {
  background-color: var(--accent-color);
}
.footer-icon {
  width: 20px;
  height: 20px;
}
/* EXHIBITION */
.exhibition-list-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/*FILTER-LIST*/

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-list > .item:not(:first-child) {
  margin-left: 8px;
}
.filter-button {
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border: 1px solid transparent;

  background-color: var(--secondary-bckg-color);
  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;

  transition: color 250ms var(--transform-timing-function),
    background-color 250ms var(--transform-timing-function),
    box-shadow 250ms var(--transform-timing-function);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--whitetext-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
/* EXHIBITION-LIST */
.exhibition-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.exhibition-list > .item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.exhibition-list .link {
  display: block;
  transition: box-shadow 250ms var(--transform-timing-function);
}
.exhibition-list .link:hover,
.exhibition-list .link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  background-color: var(--portfolio-overlay-color);
  color: var(--whitetext-color);

  transform: translateY(100%);
  transition: transform 250ms var(--transform-timing-function);
}
.exhibition-list .link:hover .portfolio-overlay,
.exhibition-list .link:focus .portfolio-overlay {
  transform: translateY(0);
  transition: transform 250ms var(--transform-timing-function);
}
.subimage-box {
  padding: 20px 24px;
  border-left: 1px solid var(--subimage-box-color);
  border-right: 1px solid var(--subimage-box-color);
  border-bottom: 1px solid var(--subimage-box-color);
}
.exhibition-list-title {
  margin-bottom: 4px;
}
.exhibition-list .exhibition-list-dscr {
  font-size: 16px;
  line-height: 1.88;
}

/* ==========Modal============= */
.backdrop {
  position: fixed;
  visibility: visible;
  opacity: 1;
  z-index: 999;

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);
  color: var(--whitetext-color);
  text-align: center;

  transition: opacity 250ms var(--transform-timing-function),
    visibility 250ms var(--transform-timing-function);
}
.backdrop-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--whitetext-color);

  transition: transform 250ms var(--transform-timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .backdrop-content {
  transform: translate(-50%, -50%) scale(2);
}
.modal-close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
